{% extends "accounts/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
<div class="form_container">
    <div class="form">
        <h1 class="logo_icon title"></h1>
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <p class="login_user_name">
                <input id="{{ form.username.id_for_label }}" maxlength="15" name="{{ form.username.html_name }}" placeholder="아이디">
            </p>

            <p class="login_user_password">
                <input id="{{ form.password.id_for_label }}" maxlength="15" name="{{ form.password.html_name }}" type="password" placeholder="비밀번호">
            </p>
            <input type="submit" class="submit_btn" value="로그인">
        </form>
    </div>
    <div class="bottom_box">
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    </div>
</div>    
{% endblock %}