{% extends "accounts/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
<div class="form_container">
    <div class="form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.as_p }}
            <input class="submit_btn" type="submit" value="가입">
        </form>
    </div>
    <div class="bottom_box">
        <div>
            <a href="/accounts/login">아이디가 있으신가요? 로그인</a>
        </div>
    </div>
</div>    
{% endblock %}