{% extends "post/layout.html" %}
{% load static %}
{% block content %}
<div class="inner">
    <div id="hottest" class="main_contents">
        <div class="contents_header">
            <div class="box_title">Hottest</div>
            <div class="more">더보기</div>
        </div>
           <div class="contents_item_box oneline_contents">
        {% for post in posts %}
            <div class="contents">
                <img src="{{ post.photo.url }}" alt="이미지" />
                <span class="maintag">{{ post.content }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
    <div id="recommend" class="main_contents">
        <div class="contents_header">
            <div class="box_title">Recommend</div>
            <div class="more">더보기</div>
        </div>
        <div class="contents_item_box oneline_contents">
        {% for post in posts %}
            <div class="contents">
                <img src="{{ post.photo.url }}" alt="이미지" />
                <span class="maintag">{{ post.content }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
    <div id="recent" class="main_contents">
        <div class="contents_header">
            <div class="box_title">Recents</div>
        </div>
           <div class="contents_item_box recent_contents">
        {% for post in posts %}
            <div class="contents">
                <img src="{{ post.photo.url }}" alt="이미지" />
                <span class="maintag">{{ post.content }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}