{% extends "post/layout.html" %}
{% load static %}
{% load post_extras %}
{% block content %}
<div class="inner">
    <div class="main_contents">
        <div class="contents_header">
            <div class="box_title">
                {% if about == 'recents' %}
                Recents
                {% endif %}
            </div>
        </div>
        <div class="contents_item_box oneline_contents">
        {% for post in post_list %}
            <div class="contents">
                <a href="/post/post_num/{{ post.id }}">
                    <img src="{{ post.photo.url }}" name="{{ post.id }}" alt="이미지" />
                    <span class="maintag">{{ post.content }}</span>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}