{% extends "post/layout.html" %}
{% load static %}
{% load post_extras %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}
{% block content %}
<div class="inner">
    <div class="contents_box">
        <div class="content">
        <div class="content_header">
            <a class="nodeco" href = "/accounts/profile/{{ posts.author.profile.id }}/main">
                <div class="profile">
                    {% if posts.author.profile.picture %}
                    <img src="{{ posts.author.profile.picture.url }}" alt="프로필사진"> 
                    {% else %}
                    <img src="{% static 'imgs/default_profile.png' %}" alt="프로필사진">
                    {% endif %}
                    <div class="p_container">
                        <div class="profile_text">
                            <div class="profile_nickname">{{ posts.author.profile }}</div>
                            <div class="profile_id">{{ posts.author.profile.user }}</div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="button">
            {% if user.is_authenticated %}
            {% if posts.author != user %}
                {% if posts.author.profile in user.profile.get_following %}
                <div id="follow_icon" class="on" name = "{{ posts.author.profile.id}}" data-name="follow"></div>
                <div id="blacklist_icon" class="hidden" name = "{{ posts.author.profile.id}}" data-name="black"></div>
                {% elif posts.author.profile in user.profile.get_blacklist %}
                <div id="follow_icon" class="hidden" name = "{{ posts.author.profile.id}}" data-name="follow"></div>
                <div id="blacklist_icon" class="on" name = "{{ posts.author.profile.id}}" data-name="black"></div>
                {% else %}
                <div id="follow_icon" name = "{{ posts.author.profile.id}}" data-name="follow"></div>
                <div id="blacklist_icon" name = "{{ posts.author.profile.id}}" data-name="black"></div>
                {% endif %}
                {% if user in posts.like_user_set.all %}
                <div id="like_icon" class="on" name = "{{posts.pk}}" data-name= "like"></div>
                {% else %}
                <div id="like_icon" name = "{{posts.pk}}" data-name= "like"></div>
                {% endif %}
                {% if scrap %}
                <div id="scrap_icon" class="on"></div>
                {% else %}
                <div id="scrap_icon"></div>
                {% endif %}
            {% else %}
                <a class="nodeco" href="/post/edit/{{posts.id}}"><div id="post-edit">수정</div></a>
                <form id="post-delete-form" action="{% url 'post:post_delete' posts.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="post-delete" value="&times" >
                </form>
            {% endif %}
            {% endif %}
            </div>
        </div>
        <div class="content_main">
            <img src="{{ posts.photo.url }}" name="{{ post.id }}" alt="이미지" />
            <div class="content_text">
               {{ posts | add_link | safe | linebreaksbr }}
                <span class="like">♡{{ posts.like_count }}</span>
                <span class="created">{{ posts.created_at|timesince }} 전 작성됨</span>
            </div>
        </div>
        <div class="content_bottom">
            {% if info %}
            <div class="content_info">
                 {% for post in info %}
                <a class="nodeco info_box" href="https://10000recipe.com{{ post.link }}">
                    <table>
                        <tr>
                            <td><img src="{{ post.img }}" alt="썸네일"></td>
                            <td class="title">{{ post.title }}</td>
                        </tr>
                    </table>
                    <span class="info_author">
                        {{ post.author }}
                    </span>
                </a>
                {% endfor %}            
            </div>
            {% endif %}
        </div>
        </div>
        {% if user.is_authenticated %}
        {% if posts.author != user %}
        <div id="scrap_modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <p>스크랩</p>
                </div>
                <div class="modal-body">
                    {% if scrap %}
                    <textarea
                              id="scrap_content" 
                              placeholder = "스크랩에 할 메모를 입력해 주세요"
                              name="{{post.id}}"
                              cols="45"
                              rows="10"
                              maxlength="200"
                              autofocus
                              >{{scrap}}</textarea>
                    {% else %}
                    <textarea
                              id="scrap_content" 
                              placeholder = "스크랩에 할 메모를 입력해 주세요"
                              name="{{post.id}}"
                              cols="45"
                              rows="10"
                              maxlength="200"
                              autofocus
                              ></textarea>
                    {% endif %}
                </div>
                <div class="modal-footer" align="right">
                    {% if not scrap %}
                    <button name = "{{posts.pk}}" data-name= "scrap">스크랩</button>
                    {% else %}
                    <button name = "{{posts.pk}}" data-name= "scrap-edit">수정</button>
                    <button name = "{{posts.pk}}" data-name= "scrap-delete">삭제</button>
                    {% endif %}
                </div>
            </div>
        
        {% include "post/script_scrap.html" %}
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% include "post/script_ajax.html" %}
{% endblock %}