{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript">
(function(){
    function errorHandler(req, status, e){
        alert('code:!'+req.status+ "\n"+
              "message:"+status.responseText+"\n"+
              "error:"+e);
    }
    
    const delegation = document.querySelector('.contents_box');
    const header = document.querySelector('#header')
    function delegationFunction(e){
        let elem = e.target;
        while (!elem.getAttribute('data-name')){
            elem = elem.parentNode;
            
            if (elem.nodeName === 'BODY'){
                elem = null;
                return;
            }
        }
        if (elem.matches('[data-name="like"]')){
            var pk = elem.getAttribute('name');
            $.ajax({
                type: 'POST',
                url : "{% url 'post:post_like' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType:"json",
                success: function(response){
                    var likeCount = document.querySelector('.content_text span.like');
                    likeCount.innerHTML = '♡' + response.like_count;
                    elem.classList.toggle('on');
                },
                error : function(request, status, error){
                    errorHandler(request, status, error);
                },
            });
        } else if (elem.matches('[data-name="scrap"]')||elem.matches('[data-name="scrap-edit"]')) {
            const pk = elem.getAttribute('name');
            const content = document.querySelector('#scrap_content').value;
            $.ajax({
                type: 'POST',
                url : "{% url 'post:post_scrap' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'content': content},
                dataType:"json",
                success: function(response){
                    location.href = location.href;
                },
                error : function(request, status, error){
                    errorHandler(request, status, error);
                },
            });
        } else if (elem.matches('[data-name="scrap-delete"]')) {
            const pk = elem.getAttribute('name');
            $.ajax({
                type: 'POST',
                url: "{% url 'post:post_scrap_delete' %}",
                data: {'pk':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}',},
                dataType: "json",
                success: function(response){
                    location.href = location.href;
                },
                error : function(request, status, error){
                    errorHandler(request, status, error);
                },
            });
        } else if (elem.matches('[data-name="follow"]')) {
            const pk = elem.getAttribute('name');
            const follow = document.querySelector('#follow_icon');
            const blacklist = document.querySelector('#blacklist_icon');
            $.ajax({
                type:'POST',
                url: '{% url "accounts:follow" %}',
                data: {
                    'pk':pk,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                success : function(response){
                    follow.classList.toggle('on');
                    blacklist.classList.toggle('hidden');
                },
                error : function(request, status, error){
                    errorHandler(request, status, error);
                }
            });            
        } else if (elem.matches('[data-name="black"]')) {
            const pk = elem.getAttribute('name');
            const follow = document.querySelector('#follow_icon');
            const blacklist = document.querySelector('#blacklist_icon');
            $.ajax({
                type:'POST',
                url: '{% url "accounts:blacklist" %}',
                data: {
                    'pk':pk,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                success : function(response){
                    follow.classList.toggle('hidden');
                    blacklist.classList.toggle('on');
                },
                error : function(request, status, error){
                    errorHandler(request, status, error);
                }
            });
        } 
    }
    delegation.addEventListener('click',delegationFunction);
 })();

</script>