#like_icon {
    background: url(../imgs/like_icon.png);
}
#like_icon.on {
    background: url(../imgs/like_icon_on.png);
}
#scrap_icon {
    background: url(../imgs/scrap_icon.png);
}
#scrap_icon.on {
    background: url(../imgs/scrap_icon_on.png);
}
#follow_icon {
    background: url(../imgs/follow_icon.png);
}
#follow_icon.on {
    background: url(../imgs/follow_icon_on.png);
}
#blacklist_icon {
    background: url(../imgs/blacklist_icon.png);
    background-size: contain;
}
#blacklist_icon.on {
    background: url(../imgs/blacklist_icon_on.png);
    background-size: contain;
}

#post-edit {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
#post-delete-form >input {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 40px;
    line-height: 50px;
}
#main_container .inner .contents_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    max-width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: #fff;
    margin-bottom: 20px;
}
.main_contents .contents_header {
  display: flex;
  margin-right: 5px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 1px solid #999;
}

.main_contents .contents_header .box_title {
  display: inline-block;
  font-size: 30px;
  user-select: none;
}

.main_contents .contents_header .more {
  display: inline-block;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  user-select: none;
}

.main_contents .slider_box {
  width: 95%;
  padding: 20px 10px;
  -ms-overflow-style: none;
}

.arrow_left {
  background: url(../imgs/arrow_left.png) no-repeat center;
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translate(50%, -50%);
}
.arrow_right {
  background: url(../imgs/arrow_right.png) no-repeat center;
  position: absolute;
  right: 10%;
  height: 100%;
  top: 50%;
  transform: translate(0%, -50%);
}
.arrow_left:hover,
.arrow_right:hover {
  background-color: #999;
  opacity: 40%;
}
.arrow_left,
.arrow_right {
  display: inline-block;
  background-size: 60px;
  padding: 0 10%;
  z-index: 100;
  cursor: pointer;
}

.slider_box {
  position: relative;
  display: flex;
  height: 400px;
}

.slider_box .contents {
  display: inline-block;
  user-select: none;
  top: 50%;
  transform: translatey(-50%);
  width: 400px;
  transition: all 0.5s ;
}

.slider_box .contents.center {
  position: absolute;  
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 20;
}
.contents.left,
.contents.right {
  position: absolute;
  width: 300px;
  opacity: 30%;
  z-index: 10;
}
.contents.left {
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
.contents.right {
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}
.contents.hidden {
  opacity: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contents.hidden a > span{
    display:none;
}

.slider_box .contents img {
  max-width: 100%;
  max-height: 400px;
  height: auto;
  overflow: hidden;
}

.slider_box .contents .maintag {
  position: absolute;
  top: 8px;
  left: 7px;
  font-size: 22px;
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  user-select: none;
}

.content_header {
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.content_header .profile {
    position: relative;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-left: 2px;
    margin-top: 2px;
}
.content_header .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.content_header .button {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.content_header .button div {
    display: inline-block;
    width: 50px;
    height: 50px;
    
}

.content_header .button .scrap_icon.on {
    background-color: blue;
}

.p_container {
    display: inline-block;
    min-width: 120px;
    margin-left: 3px;
    position: relative;
}

.profile_text .profile_nickname {
    font-size: 20px;
}

.profile_text .profile_id {
    color: #888;
    font-size: 16px;
}
.content_main img{
    text-align: center;
}

.content_main img {
    width: 600px;
    height: 600px;
    margin-bottom: 5px;
}

.content_main .content_text a {
    text-decoration: none;
    color: #3F729B;
}
.content_main .content_text {
    position: relative;
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.content_main .content_text span.created {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: #888;
    font-size: 12px;
}
.content_main .content_text span.like {
    position: absolute;
    left: 10px;
    bottom: 0;
    color: #888;
    font-size: 14px;
}
.content_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info_box {
    background: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
    display: block;
    width: 97.5%;
    position: relative;
}
.info_box table {
    table-layout:fixed;
}
.info_box td:nth-child(1) {
    width: 100px;
    padding: 10px;
}
.info_box td:nth-child(2) {
    width: calc(100% - 100px);
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
}
.info_box img {
    height: 100px;
    width: 100px;
    border-radius: 3px;
}
.info_box .title {
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 30px;
    font-size: 18px;
    color: #222;
}
.info_box .info_author {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 12px;
}



/*modal 창 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: relative;
    width: 375px;
    background-color: #fefefe; 
    margin: 20% auto; 
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity:0}
    to {top:0; opacity:1}
}
.modal-header {
    height: 30px;
    padding: 2px 16px;
    background-color: #e0dede;
    color: white;
}
.modal-header p {
    line-height: 34px;
	color: #4a3f35;
}
.modal-body {
    padding: 2px 16px;
    height: 160px;
    position: relative;
}
#scrap_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    resize: none;
    border: none;
    outline: none;
    word-break: break-all;
    background: transparent;
}
.modal-footer {
    padding : 2px 16px;
    background-color : #f5f5f5;
    color: white;
    height: 30px;
}
.modal-footer button {
    background: #e0dede;
    border: none;
	color: #4a3f35;
    border-radius: 3px;
    line-height: 30px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#post_list_ajax {
	display: inline-block;
	width: 100%;
}

@media screen and (max-width:900px){
    .arrow_left{
        left: 10px;
    }
    .arrow_right{
        right: 10px;
    }
    .arrow_left, .arrow_right{
        padding:0 10%;
        transform: translate(0,-50%)
    }
    .arrow_left:hover,
    .arrow_right:hover {
        background-color: transparent;
        opacity: 100%;
    }
}

@media screen and (max-width: 440px){
    .slider_box .contents {
        width: 95%;
    }
    .left, .right {
        width: 0%;
    }
    .contents.hidden{
        width: 0%;
    }
}

@media screen and (max-width: 650px){
    .content_main img {
        width : 100%;
        height: auto;
    }
    #main_container .inner .post_num{
        width: 90%;
        align-items: center;
    }
}
