{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>뭐먹냐</title>
        {% block head %}
        {% endblock %}
        </head>
    <body>
        <section class="container">
            <div id="header">
                <div class="inner">
                    <h1 class="logo">
                        <a href="/">
                        <div class="logo_icon"></div>
                        </a>
                    </h1>
                    <form id="search_box">
                        <input type="text" class="search_input" placeholder="#검색" />
                        <div class="fake_box">
                            #검색
                        </div>
                    </form>
                    <div class="more">
                        {% if user.is_authenticated %}
                            {% if user.profile.picture %}
                            <img src="{{ user.profile.picture.url }}" alt="프로필사진"> 
                            {% else %}
                            <img src="{% static 'imgs/default_profile.png' %}">
                            {% endif %}
                        {% else %}
                            <img src = "{% static 'imgs/more.png' %}">
                        {% endif %}
                        <ul id="more_menu">
                            {% if user.is_authenticated  %}
                            <li><a href="/accounts/profile/{{user.profile.id}}/main" class="nodeco">
                                마이페이지
                            </a></li>
                            <li><a href="/accounts/logout" class="nodeco">로그아웃</a></li>
                            <li><a href="/post/new" class="nodeco">새 글</a></li>
                            {% else %}
                            <li><a href="/accounts/signup" class="nodeco">회원가입</a></li>
                            <li><a href="/accounts/login" class="nodeco">로그인</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <a href="" class="nodeco hidden">
                    <div class="login">
                        Log in / Register
                    </div>
                    </a>
                </div>
            </div>
        </section>
        <section id="main_container">
            {% block content %}
            {% endblock %}
        </section>
    </body>
    <script>
        search = document.querySelector('#search_box');
        search.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('클릭')
            value = document.querySelector('.search_input');
            value = value.value;
            window.location.href = '/post/explore/tags/'+value;
        })
    </script>
</html>
