{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>뭐먹냐</title>
        {% block head %}
        {% endblock %}
        </head>
    <body>
        <section class="container">
            <div id="header">
                <div class="inner">
                    <h1 class="logo">
                        <a href="/">
                        <div class="logo_icon"></div>
                        </a>
                    </h1>
                    <div id="search_box">
                        <input type="text" class="search_input" placeholder="#검색" />
                        <div class="fake_box">#검색</div>
                    </div>
                    <div class="more">
                        <ul id="more_menu">
                            {% if user.is_authenticated  %}
                            <li><a href="" class="nodeco">마이페이지</a></li>
                            <li><a href="/accounts/logout" class="nodeco">로그아웃</a></li>
                            <li><a href="/post/new" class="nodeco">새 글</a></li>
                            {% else %}
                            <li><a href="/accounts/signup" class="nodeco">회원가입</a></li>
                            <li><a href="/accounts/login" class="nodeco">로그인</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <a href="" class="nodeco hidden">
                    <div class="login">
                        Log in / Register
                    </div>
                    </a>
                </div>
            </div>
        </section>
        <section id="main_container">
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>
